:root {
  --btn-blue-color: #2e90e5;
  --text-blue-color: #33a0ff;
  --light-black: #545454;
  --light-gray: #f8f8f8;
  --border-color: #e5e8ea;
  --main-color: #22262a;
  --dark-gray: #c1c8ce;
  --red-color: #fc3e39;
}
